<h1>This is the example for .tgz type lib injection in angular app using jab-library from github</h1>

<lib-jag-library></lib-jag-library>



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































